<form action="/delete" method="POST">
    <section>
        <div>
            <label for="name">objectID</label>
            <input type="text" name="id" id="id" value="<%= userInfo.name %>">
        </div>
        <input type="submit" value="verwijder account">
</form>