<title>Matching-applicatie</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Een Matching-applicatie voor Wintersporters/apreski gangers">
<meta name="keywords" content="matching-application,matching,html,css,sass,nodejs">
<meta name="author" content="Jelle Kitzen">
<link rel="stylesheet" href="../css/style.css">
<link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">