<form action="/register" method="POST">
    <label for="naam">(voor)naam</label>
    <input type="text" name="naam" placeholder="typ hier je (voor)naam...">
    <label for="leeftijd">leeftijd</label>
    <input type="text" name="leeftijd" placeholder="typ hier je leeftijd...">
    <label for="skigebied">ski gebied</label>
    <input type="text" name="locatie" placeholder="in welk ski gebied bevindt je je?">
    <label for="datum">datum</label>
    <input type="date" name="datum" placeholder="DD-MM-YY">
    <input type="submit" value="aanmelden">
</form>