<form action="/account" method="POST">
    <section>
        <div>
            <label for="name">(voor)naam</label>
            <input type="text" name="name" id="name" placeholder="typ hier je (voor)naam..." required>
        </div>
        <div>
            <label for="age">leeftijd</label>
            <input type="text" name="age" id="age" placeholder="typ hier je leeftijd...">
        </div>
    </section>
    <label for="email">e-mail</label>
    <input type="email" name="email" id="email" placeholder="typ hier je e-mail adres..." required>
    <label for="password">wachtwoord</label>
    <input type="password" name="password" id="password" placeholder="verzin een sterk wachtwoord..." required>
    <input type="submit" value="aanmelden">
</form>