<article>
    <img src="" alt="">
    <div>
        <h2>
            <%= user.name %>
                <%= user.age %>
        </h2>
        <h3>
            <%= user.location %>
        </h3>
        <p></p>
        <a href=""></a>
    </div>
</article>