<form action="/" method="GET">
    <select id="geslacht" name="geslacht">
        <option value="man">man</option>
        <option value="vrouw">vrouw</option>
        <option value="anders">anders</option>
    </select>
    <input type="number" name="leeftijd" placeholder="vanaf ... jaar">
    <input type="text" name="locatie" placeholder="in het ski gebied ...">
    <input type="date" name="datum" placeholder="op datum ...">
    <input type="submit" value="zoek">
</form>