<!DOCTYPE html>
<html lang="nl">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <main class="background_404">
        <section>
            <h1>404</h1>
            <p>Oops... Deze pagina matched niet met jou zoekresultaat</p>
            <p>Maar niet getreurd, klik <a href="/">hier</a> om te matchen met iemand die wel bestaat!</p>
        </section>
        <div class="overlay"></div>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>