/* Variabelen voor paddings, kleuren etc. */
/* Variabelen voor paddings, kleuren etc. */
/* Responsive variables */
body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 16px; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 500; }

h1 {
  font-size: 2.8em; }

h2 {
  font-size: 2.4em; }

h3 {
  font-size: 2.2em; }

h4 {
  font-size: 2.0em; }

h5 {
  font-size: 1.8em; }

h6 {
  font-size: 1.6em; }

a {
  color: #ed2924;
  font-weight: 900; }

form input {
  font-family: 'Quicksand', sans-serif; }
