@import 'var.scss';

*{
    margin: 0;
    padding: 0;
}

header{
    position: absolute;
    width: 100%;
    z-index: 8;
    section{
        &:first-of-type{

            position: absolute;
            left: 25px;
            top: 25px;
            a{
                color: $white;
                text-decoration: none;
                font-weight: 900;
            }
        }
        &:last-of-type{
            position: absolute;
            right: 25px;
            top: 25px;

            a{
                color: $white;
                text-decoration: none;
                font-weight: 900;
                &:first-of-type{
                    margin-right: 20px;
                }
            }
        }
    }
}

main{
    min-width: 100vw;
    min-height: 100vh;
    background-image: url('../img/wintersport-background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;

    section{
        position: relative;
        z-index: 4;
        max-width: $site-width;

        h1, h2{
            font-weight: 900;
            color: $white;
        }

        &.search{

            margin-top: 100px;

            h1, h2{
                text-align: center;
            }

            h2{
                margin-bottom: $huge-padding;
            }

            form{
                input, select{
                    padding: $small-padding;
                    min-width: 200px;
                    max-height: 44px;
                    color: $grey;
                    font-size: 1em;
                    border: 1px solid $grey;
                    margin-left: -6px;
                    &:focus{
                        outline: none;
                    }
                    &:hover{
                        cursor: pointer;
                    }
                }
                select{
                    padding-top: 11px;
                    border-radius: 5px 0 0 5px;
                }
                input[type=date]{
                    padding: 0.588em;
                    border-radius: 0 5px 5px 0;
                }
                input[type=submit]{
                    background-color: $red;
                    margin-left: $small-padding;
                    border-radius: 20px;
                    color: $white;
                    border: none;
                }
            }

        }
        &.register{

            margin-top: 50px;

            h1{
                margin-bottom: $small-padding;
            }

            div{
                min-width: 500px;
                padding: $huge-padding $large-padding;
                background-color: $white;
                p{
                    &:first-of-type{
                        font-weight: 900;
                        margin-bottom: $small-padding;
                    }
                }
            }

            form{
                min-width: 500px;
                padding: $huge-padding $large-padding;
                background-color: $white;
                input{
                    display: block;
                    padding: $small-padding;
                    width: -webkit-fill-available;
                    margin-bottom: $huge-padding;
                    &:last-of-type{
                        margin-bottom: 0;
                    }
                }
                label{
                    display: block;
                    font-weight: 900;
                    margin-bottom: $small-padding;
                }
                input[type=submit]{
                    background-color: $red;
                    margin-right: 0;
                    margin-left: auto;
                    border-radius: 20px;
                    color: $white;
                    border: none;
                    max-width: 200px;
                }
            }
        }

    }
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $black;
    opacity: .2;
    margin-bottom: 0;
    max-width: 100%;
    z-index: 3;
}