/* Variabelen voor paddings, kleuren etc. */

$extraSmall-padding     :   0.5em;
$small-padding          :   0.75em;
$medium-padding         :   1em;
$large-padding          :   1.5em;
$huge-padding           :   2em;

$site-width             :   1080px;

$black                  :  #000;
$white                  :  #fff;
$grey                   :  #92a1a9;
$gray                   :  #e1e1e1;
$red                    :  #ed2924;
$blue                   :  #08ADC0